<menu id="MainMenu">
    <menu-item id="saveCurrentTime" label="@Strings.menuSaveCurrentTime" />
    <menu-item id="deleteLastTime" label="@Strings.menuDeleteLastTime" />
    <menu-item id="deleteAllTimes" label="@Strings.menuDeleteAllTimes" />
    <menu-item id="cancel" label="@Strings.menuCancel" />
</menu>
